  <launch>
    <node pkg="final" type="teleop.py" name="teleop" output="screen"/>

    <node name="broadcaster" pkg="final" type="broadcaster.py" respawn="false" output="screen" >
      <param name="turtle" type="string" value="robot1" />
    </node>

    <node pkg="final" type="listener.py" name="listener" output="screen"/>

  </launch>